<!--Desarrollado por Matias Abregú-->
<div class="container d-flex justify-content-center" style="margin-top: 8%;">
    <form class="card border-primary align-items-center" action="/iniciar-sesion" method="post" style="max-width: 100; padding: 5% 10%;" />
    <fieldset>
        <h2 style="text-align: center;">Iniciar Sesion</h2>
        <div class="form-group row">
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Usuario:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Ingresa tu usuario" name="nombre"/>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Contraseña:</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Ingresa la contraseña" name="contrasena"/>
            </div>
            <button type="submit" class="btn btn-primary mt-5 p-2">Iniciar Sesion</button>
        </div>

    </fieldset>
    </form>
</div>